.card {
    margin: 20px;
    border: 2px solid #ededed;
    padding: 20px;
    cursor: pointer;
}

.cardImg {
    width: 13rem;
    margin-bottom: 1rem;
}

.cardTitle {
    margin-bottom: 1rem;
}

.cardReviews {
    margin-bottom: 1rem;
    display: flex;
}

.ratingStars {
    color: #d5ab55;
}

.totalReviews {
    font-size: 0.9rem;
    margin-left: 10px;
}

.cardPrice {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bagIcon {
    color: #535353;
}
